.header {
  background-color: var(--header-bg);
  color: var(--header-color);
}

.header__title {
  font-size: var(--header-title-font-size-sm);
  color: var(--header-title-color);
  font-weight: var(--header-title-font-weight);

  @media (--min-width-md) {
    font-size: var(--header-title-font-size);
  }
}

